
*.new
*.o
**/CMakeCache\.txt
**/.idea/
**/bin/
**/CMakeFiles/
**/DataStorm_examples/
**/CrdtComp_autogen/
**/*.cmake
**/*.cbp
**/*.bak
test/*.txt
etc/concurrent_operations_*
etc/change_attribute_*
etc/conflict_resolution_*
etc/delayed_start_*
etc/insert_remove_*
**/cmake-build-debug/
**/src/bin/
**/build/
**/cmake-build-release/
**/gprof2dot.py
**/out.folded
**/out.perf
**/*.svg
**/profile/
**/*.ice
**/*.OLD
etc/*
test/__pycache__/
components/crdt_rtps_dsr_tests/test_result.txt
components/crdt_rtps_dsr_tests/src/tests/testfiles/write_empty_file.json
components/crdt_rtps_dsr_tests/src/tests/testfiles/write_initial_dsr2.json
**/perf.data
**/config
**/__pycache__/


