
*.new

*.o

components/newcomp/CMakeCache\.txt

components/newcomp/\.idea/

components/newcomp/bin/

components/newcomp/CMakeFiles/3\.12\.1/CMakeCCompiler\.cmake

components/newcomp/CMakeFiles/

components/crdt_comp/bin/

components/crdt_comp/CMakeFiles/

components/crdt_comp/DataStorm_examples/

components/crdt_comp/src/CMakeFiles/

components/crdt_comp/src/CrdtComp_autogen/

*.cmake

\.idea/

*.cbp

*.bak


test/*.txt
etc/concurrent_operations_*
etc/change_attribute_*
etc/conflict_resolution_*
etc/insert_remove_*

components/crdt_observeragent/cmake-build-debug/

components/crdt_observeragent/CMakeFiles/

components/crdt_observeragent/src/bin/

components/crdt_observeragent/src/cmake-build-debug/

components/crdt_observeragent/src/observeragent_autogen/

components/crdt_observeragent/src/CMakeFiles/

components/crdt_rtps_dsr/bin/
components/crdt_rtps_dsr/build/
components/crdt_rtps_dsr/cmake-build-debug/
components/crdt_rtps_dsr/cmake-build-release/
components/crdt_rtps_dsr/gprof2dot.py
components/crdt_rtps_dsr/out.folded
components/crdt_rtps_dsr/out.perf
components/crdt_rtps_dsr/perf.svg
components/crdt_rtps_dsr/profile/
components/crdt_rtps_dsr_tests/bin/
components/crdt_rtps_dsr_tests/build/
components/crdt_rtps_dsr_tests/cmake-build-debug/
components/crdt_rtps_dsr_tests/cmake-build-release/
components/crdt_rtps_dsr_tests/test_result.txt
components/idserver/bin/
components/idserver/build/
etc/agent0_dsr.json
etc/agent0_dsrf.json
etc/agent0_test.txt
etc/agent1_dsr.json
etc/agent1_dsrf.json
etc/agent1_test.txt
etc/shelly_dsr.json
graph-related-classes/OLD/
graph-related-classes/topics/DSRGraph.h.OLD
test/__pycache__/
test_crdt/bin/
test_crdt/build/
test_crdt/cmake-build-debug/

components/crdt_rtps_dsr/src/cmake-build-debug/
components/crdt_rtps_dsr/src/cmake-build-release/
components/idserver/cmake-build-debug/
components/idserver/cmake-build-release/

components/crdt_rtps_dsr_tests/src/tests/testfiles/write_empty_file.json
components/crdt_rtps_dsr_tests/src/tests/testfiles/write_initial_dsr2.json

*CMakeFiles
*CMakeCache.txt
*_autogen
*Makefile

*__pycache__
